<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <const name="VENDOR_DIR" value="./vendor/"/>
        <const name="SITE_ROOT" value="./"/>
        <const name="SITE_NAME" value="Build Test Instance"/>
        <const name="DB_HOSTNAME" value="127.0.0.1"/>
        <const name="DB_DATABASE" value="app"/>
        <const name="DB_USERNAME" value="app"/>
        <const name="DB_PASSWORD" value=""/>
        <const name="DB_FREEZE" value="false"/>
        <const name="DB_DEBUG" value="true"/>
        <const name="TESTING" value="true"/>
    </php>
    <logging>
        <log type="tap" target="build/report.tap"/>
        <log type="junit" target="build/report.junit.xml"/>
        <log type="coverage-html" target="build/coverage" charset="UTF-8" yui="true" highlight="true"/>
        <log type="coverage-text" target="build/coverage.txt"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>